@import '../layouts/sass/main.scss';

.blogsection{
  border-bottom: solid (_size(border-width) * 1.5) _palette(border);
  article {
    margin: 2em 0em 0em 0em;

    h3 {
      margin: 0 0 0.25em 0;
      color: #005c74;
    }

    h4 {
      margin: 0 0 0.5em 0;
    }

  }

  &:last-child {
    border-bottom: none;
  }
}

.Pagination {
  display: flex;
  justify-content: center;
}

.PageNumber {
  display: block;
  padding: 8px 16px;
}

.blogexcerpt {
  font-size: 1.20em;
  line-height: 1.5;
  margin-bottom: 1em;
}