.landing-footer {
  background: #111f38;
  color: #ffffff;
  padding: 10px;
}

.landing-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing-footer img {
  margin-bottom: 0px;
}

.footer-support-info {
  display: flex;
  align-items: center;
}

.footer-support-info p {
  margin-bottom: 0px;
  padding-right: 30px;
}

@media (max-width: 1023px) {
  .landing-footer {
    display: none;
  }
}
