body {
  overflow: hidden;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

/* button */
.button {
  background-color: #319e60;
  font-family: "Roboto", sans-serif;
  border: none;
  color: #ffffff;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  text-transform: none;
}

/* main text section */
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0;
}

@media (min-width: 767px) {
  .wrapper {
    display: flex;
    align-items: flex-start;
  }
}

/* landing page icons section */

.icon-grid-section {
  background-color: #ffffff;
  padding: 75px 0px;
}

.container.three-grid {
  background: #f7f7f7;
  padding-top: 75px;
  padding-bottom: 75px;
  position: relative;
  margin-top: -175px;
}

/* features section */
.landing-features-section {
  height: auto;
  padding: 50px 0px;
  background-color: #ffffff;
}

.landing-features-section h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: #666f79;
}

.landing-features-section p {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: #6b6b6b;
  max-width: 693px;
  margin-left: auto;
  margin-right: auto;
}
