body {
  overflow: hidden;
  color: rgba(0, 0, 0, 0.8);
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

/* button */
button {
  background-color: #319e60;
  border: 1px solid #319e60;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  text-transform: none;
  cursor: pointer;
  margin: 20px 0;
}

/* main text section */
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0;
}

@media (min-width: 767px) {
  .wrapper {
    display: flex;
    align-items: flex-start;
  }
}

/* hero section */

@media (min-width: 993px) {
  .landing-hero-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-column-gap: 8rem;
    padding: 50px 0px;
    position: relative;
    margin-top: 100px;
  }
}

.landing-hero-billede img {
  z-index: 10;
  max-width: 100%;
  max-height: 598px;
}

.hero-img-container {
  display: block;
  width: 196px;
  height: 37px;
}

.landing-hero-billede {
  z-index: 10;
  max-width: 100%;
  max-height: 598px;
}

.landing-hero-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  max-height: 598px;
}

.landing-hero-text p {
  margin-bottom: 0px;
}

.landing-hero-text h1 {
  text-align: left;
  font-size: 46px;
  font-weight: 700;
  color: #1a315d;
}

.landing-hero-text h2 {
  text-align: left;
  font-size: 26px;
  font-weight: 700;
  color: #1a315d;
}

.landing-hero-text h3 {
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  color: #1a315d;
  margin-bottom: 0px;
}

.landing-hero-section {
  margin-bottom: 100px;
}

.landing-form-phone input {
  background-color: #f0efef;
  border: 1px solid #f0efef;
  color: #1a315d;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0;
}

.landing-hero-form button {
  background-color: #319e60;
  border: 1px solid #319e60;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  text-transform: none;
  cursor: pointer;
  margin: 20px 0;
}

/* landing page icons section */

.landing-icons-section {
  height: auto;
  padding: 50px 0px;
  background-color: #ffffff;
}

.landing-icons-section .landing-icons-heading {
  text-align: left;
  font-size: 36px;
  font-weight: 700;
  color: #1a315d;
  max-width: 600px;
}

.landing-icons-section .landing-icons-subhead {
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 100px;
  max-width: 600px;
}

.landing-icon-grid-section {
  background-color: #ffffff;
  padding: 75px 0px;
}

.container.landing-three-grid {
  background: #ffffff;
  position: relative;
}

.landing-three-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 4fr));
  grid-row-gap: 20px;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-bottom: 50px;
  background-color: #1a315d;
}

.landing-item {
  outline: 1px solid #cdcccc;
  padding: 30px;
  position: relative;
  background-color: #ffffff;
}

@media only screen and (min-width: 769px) {
  .landing-item:hover {
    outline: 1px solid #1a315d;
    transform: translate(-0.5rem, -0.5rem);
    z-index: 3;
    transition: all 0.36s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

@media only screen and (min-width: 769px) {
  .landing-icon-text {
    font-size: 18px;
    font-weight: 700;
    color: #1a315d;
    margin-top: 120px;
    margin-bottom: 20px;
  }
}

.small-txt {
  font-size: 16px;
  font-weight: 400;
}

/* features section */

.landing-features-section {
  height: auto;
  padding: 50px 0px;
  background-color: #ffffff;
}

.landing-features-box {
  max-width: 800px;
  padding: 2rem;
  margin-right: auto;
  margin-left: auto;
  background-color: #eeedec;
}

.landing-features-section h2 {
  text-align: left;
  font-size: 36px;
  font-weight: 700;
  color: #1a315d;
  max-width: 600px;
}

.landing-features-cta {
  max-width: 600px;
}

.landing-features-section a {
  color: #1a315d;
}

.landing-features-box ol li {
  list-style: none;
  padding-left: 40px;
  position: relative;
  font-size: 16px;
  font-weight: 400;
}

.landing-features-box ol {
  margin-left: 0px;
  margin-bottom: 50px;
}

.landing-process-one:before {
  content: "1";
  background-color: #1a315d;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-left: -40px;
  margin-right: 18px;
  text-align: center;
  height: 22px;
  width: 22px;
  border-radius: 50%;
}

.landing-process-two:before {
  content: "2";
  background-color: #1a315d;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-left: -40px;
  margin-right: 18px;
  text-align: center;
  height: 22px;
  width: 22px;
  border-radius: 50%;
}

.landing-process-three:before {
  content: "3";
  background-color: #1a315d;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-left: -40px;
  margin-right: 18px;
  text-align: center;
  height: 22px;
  width: 22px;
  border-radius: 50%;
}

.landing-process-four:before {
  content: "4";
  background-color: #1a315d;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-left: -40px;
  margin-right: 18px;
  text-align: center;
  height: 22px;
  width: 22px;
  border-radius: 50%;
}

.landing-process-five:before {
  content: "5";
  background-color: #1a315d;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-left: -40px;
  margin-right: 18px;
  text-align: center;
  height: 22px;
  width: 22px;
  border-radius: 50%;
}

.landing-features-box ol li {
  list-style: none;
  padding-left: 40px;
  position: relative;
  font-size: 16px;
  font-weight: 400;
}

.landing-features-checkmark:before {
  content: "✓";
  background-color: #319e60;
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  margin-left: -40px;
  margin-right: 18px;
  text-align: center;
  height: 22px;
  width: 22px;
  border-radius: 50%;
}

.landing-features-checkmark {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
}

.landing-features-checklist {
  margin-bottom: 50px;
}

/* bliv ringet op sektion */

.landing-ring-op {
  background-color: #1a315d;
  padding: 50px;
  margin-top: 100px;
}

@media (min-width: 993px) {
  .landing-ring-op-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-column-gap: 8rem;
    padding: 50px 0px;
    position: relative;
  }
}

.kontakt-ring-op h2 {
  text-align: left;
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
}

.kontakt-ring-op p {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

.landing-request-call-form input {
  background-color: #f0efef;
  border: 1px solid #f0efef;
  color: #1a315d;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
}

.landing-request-call-form textarea {
  background-color: #f0efef;
  border: 1px solid #f0efef;
  color: #1a315d;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
}

.landing-request-call-form button {
  background-color: #319e60;
  border: 1px solid #319e60;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
  cursor: pointer;
  width: 100%;
}

.testimonial-ring-op {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testimonial-ring-op h2 {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #ffffff;
  padding-top: 10px;
}

.testimonial-ring-op p {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

.testimonial-box .trustpilot-navn {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  padding-top: 30px;
}

/* team section */

@media (min-width: 993px) {
  .advisor-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-column-gap: 8rem;
    padding: 50px 0px;
    position: relative;
    margin-top: 100px;
  }
}

.advisor-billeder img {
  z-index: 10;
  max-width: 100%;
  max-height: 598px;
}

.advisor-billeder {
  z-index: 10;
  max-width: 100%;
  max-height: 598px;
}

.advisor-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  max-height: 598px;
}

.advisor-text p {
  margin-bottom: 0px;
}

.advisor-text h2 {
  text-align: left;
  font-size: 36px;
  font-weight: 700;
  color: #1a315d;
}

/* testimonial section */
.landing-testimonial {
  height: auto;
  padding: 50px 0px;
  background-color: #ffffff;
  margin-top: 100px;
}

.landing-testimonial .landing-testimonial-heading {
  text-align: left;
  font-size: 36px;
  font-weight: 700;
  color: #1a315d;
  max-width: 600px;
}

.trustpilot-testimonial-img-container {
  display: block;
  width: 130px;
  height: 37px;
  margin-bottom: 10px;
}

.landing-testimonial .landing-testimonial-subhead {
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 100px;
  max-width: 600px;
}

.container.landing-testimonial-box {
  background: #ffffff;
  position: relative;
}

.landing-testimonial-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 2fr));
  grid-row-gap: 0px;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-bottom: 50px;
  background-color: #1a315d;
}

.landing-testimonial-review-box {
  outline: 1px solid #cdcccc;
  padding: 40px;
  position: relative;
  background-color: #ffffff;
}

@media only screen and (min-width: 769px) {
  .landing-testimonial-review-box:hover {
    outline: 1px solid #1a315d;
    transform: translate(-0.5rem, -0.5rem);
    z-index: 3;
    transition: all 0.36s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.landing-testimonial-head {
  font-size: 18px;
  font-weight: 700;
  color: #1a315d;
  margin-top: 60px;
  margin-bottom: 10px;
}

.landing-testimonial-review-txt {
  font-size: 16px;
  font-weight: 400;
}

.testimonial-reviewer-name {
  font-size: 16px;
  font-weight: 700;
  color: #1a315d;
}

/* FAQ section */
.landing-faq-section {
  height: auto;
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #ffffff;
  margin-top: 100px;
}

.landing-faq-section .landing-faq-heading {
  text-align: left;
  font-size: 36px;
  font-weight: 700;
  color: #1a315d;
  max-width: 600px;
}

.landing-faq-section .landing-faq-subhead {
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 100px;
  max-width: 600px;
}

/* accordion */
.faq-input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.row {
  display: flex;
}
.row .col {
  flex: 1;
}
/* Accordion styles */
.tabs {
  overflow: hidden;
}
.tab {
  width: 100%;
  overflow: hidden;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #ffffff;
  border-top: 1px solid #cdcccc;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
}

.tab:last-child {
  border-bottom: 1px solid #cdcccc;
}

.tab-label:hover {
  color: #1a315d;
}
.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  background: white;
  transition: all 0.35s;
  max-width: 600px;
  font-size: 16px;
  font-weight: 400;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.tab-close:hover {
  color: #1a315d;
}
.faq-input:checked + .tab-label {
  color: #1a315d;
}
.faq-input:checked + .tab-label::after {
  transform: rotate(90deg);
}
.faq-input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

/* responsive CSS */
@media (max-width: 1023px) {
  .container {
    max-width: 90% !important;
  }

  section.landing-features-section .container {
    max-width: 100% !important;
  }

  .landing-hero-billede {
    padding-top: 100px;
  }

  .advisor-billeder,
  .advisor-text {
    margin-top: 40px;
  }

  .landing-three-grid {
    grid-row-gap: 0px;
  }
  .landing-testimonial-box {
    display: grid;
    grid-template-columns: 1fr;
  }

  .landing-hero-text {
    padding-top: 100px;
  }
  nav ul {
    display: none;
  }
}
