body {
  overflow: hidden;
}

/* button */
.button {
  background-color: #319e60;
  font-family: "Lato", sans-serif;
  border: none;
  color: #ffffff;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  text-transform: none;
}

/* main text section */
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0;
}

@media (min-width: 767px) {
  .wrapper {
    display: flex;
    align-items: flex-start;
  }
}

/* hero section */

@media (min-width: 993px) {
  .landing-hero-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-column-gap: 8rem;
    padding: 50px 0px;
    position: relative;
    margin-top: 100px;
  }
}

.landing-hero-billede img {
  z-index: 10;
  max-width: 479px;
  max-height: 598px;
}

.landing-hero-billede {
  z-index: 10;
  max-width: 479px;
  max-height: 598px;
}

.landing-hero-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  max-height: 598px;
}

.landing-hero-text p {
  margin-bottom: 0px;
}

.landing-hero-text h1 {
  text-align: left;
  font-size: 46px;
  font-weight: 700;
  color: #1a315d;
}

.landing-hero-text h2 {
  text-align: left;
  font-size: 26px;
  font-weight: 700;
  color: #1a315d;
}

.landing-hero-section {
  margin-bottom: 100px;
}

.landing-form-phone input {
  background-color: #f0efef;
  border: 1px solid #f0efef;
  color: #1a315d;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
}

.landing-hero-form button {
  background-color: #319e60;
  border: none;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  text-transform: none;
  cursor: pointer;
}

/* landing page icons section */

.landing-icons-section {
  height: auto;
  padding: 50px 0px;
  background-color: #ffffff;
}

.landing-icons-section .landing-icons-heading {
  text-align: left;
  font-size: 36px;
  font-weight: 700;
  color: #1a315d;
  max-width: 66.66666667%;
}

.landing-icons-section .landing-icons-subhead {
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 100px;
  max-width: 66.66666667%;
}

.landing-icon-grid-section {
  background-color: #ffffff;
  padding: 75px 0px;
}

.container.landing-three-grid {
  background: #ffffff;
  position: relative;
}

.landing-three-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 3fr));
  grid-row-gap: 20px;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-bottom: 50px;
  background-color: #1a315d;
}

.landing-item {
  outline: 1px solid #cdcccc;
  padding: 40px;
  position: relative;
  background-color: #ffffff;
}

@media only screen and (min-width: 769px) {
  .landing-item:hover {
    outline: 1px solid #1a315d;
    transform: translate(-0.5rem, -0.5rem);
    z-index: 3;
    transition: all 0.36s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

@media only screen and (min-width: 769px) {
  .landing-icon-text {
    font-size: 18px;
    font-weight: 700;
    color: #1a315d;
    margin-top: 120px;
    margin-bottom: 20px;
  }
}

.small-txt {
  font-size: 16px;
  font-weight: 400;
}

/* features section */

.landing-features-section {
  height: auto;
  padding: 50px 0px;
  background-color: #ffffff;
}

.landing-features-box {
  max-width: 66.66666667%;
  padding: 2rem;
  margin-right: auto;
  margin-left: auto;
  background-color: #eeedec;
}

.landing-features-section h2 {
  text-align: left;
  font-size: 36px;
  font-weight: 700;
  color: #1a315d;
}

.landing-features-section a {
  color: #1a315d;
}

.landing-features-box ol li {
  list-style: none;
  padding-left: 40px;
  position: relative;
  font-size: 16px;
  font-weight: 400;
}

.landing-features-box ol {
  margin-left: 0px;
  margin-bottom: 50px;
}

.landing-process-one:before {
  content: "1";
  background-color: #1a315d;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-left: -40px;
  margin-right: 18px;
  text-align: center;
  height: 22px;
  width: 22px;
  border-radius: 50%;
}

.landing-process-two:before {
  content: "2";
  background-color: #1a315d;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-left: -40px;
  margin-right: 18px;
  text-align: center;
  height: 22px;
  width: 22px;
  border-radius: 50%;
}

.landing-process-three:before {
  content: "3";
  background-color: #1a315d;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-left: -40px;
  margin-right: 18px;
  text-align: center;
  height: 22px;
  width: 22px;
  border-radius: 50%;
}

.landing-process-four:before {
  content: "4";
  background-color: #1a315d;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-left: -40px;
  margin-right: 18px;
  text-align: center;
  height: 22px;
  width: 22px;
  border-radius: 50%;
}

.landing-process-five:before {
  content: "5";
  background-color: #1a315d;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-left: -40px;
  margin-right: 18px;
  text-align: center;
  height: 22px;
  width: 22px;
  border-radius: 50%;
}

.landing-features-checkmark {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
}

.landing-features-checklist {
  margin-bottom: 50px;
}

/* testimonial section */
.testimonial-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 2fr));
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  grid-auto-rows: 1fr;
}

.testimonial-box h2 {
  padding: 20px 100px;
  margin-bottom: 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  color: #ffffff;
}

.testimonial-box p {
  padding: 0px 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
}

.testimonial-box .navn {
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: #ffffff;
  opacity: 0.7;
}

.text-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #506397;
  color: #ffffff;
}

/* bliv ringet op sektion */
.landing-ring-op {
  height: auto;
  background-color: #506397;
  padding: 50px 0px;
}

section.landing-ring-op .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
  grid-column-gap: 3rem;
  text-align: center;
  align-content: center;
}

@media (min-width: 992px) {
  section.landing-ring-op .container {
    grid-auto-rows: 1fr;
  }
}

@media (max-width: 992px) {
  section.landing-ring-op .testimonial-ring-op {
    padding-top: 50px;
  }
}

.kontakt-ring-op {
  background: rgba(255, 255, 255, 0.4);
  padding: 50px;
}

.kontakt-ring-op h2 {
  color: #ffffff;
  font-size: 36px;
}

.kontakt-ring-op p {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #ffffff;
}

.testimonial-ring-op {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testimonial-ring-op h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  color: #ffffff;
  padding-top: 10px;
}

.testimonial-ring-op p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  text-align: center;
}

.testimonial-box .trustpilot-navn {
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: #ffffff;
  opacity: 0.8;
  padding-top: 30px;
}

/* team section */

@media (min-width: 993px) {
  .advisor-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-column-gap: 8rem;
    padding: 50px 0px;
    position: relative;
    margin-top: 100px;
  }
}

.advisor-billeder img {
  z-index: 10;
  max-width: 479px;
  max-height: 598px;
}

.advisor-billeder {
  z-index: 10;
  max-width: 479px;
  max-height: 598px;
}

.advisor-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  max-height: 598px;
}

.advisor-text p {
  margin-bottom: 0px;
}

.advisor-text h2 {
  text-align: left;
  font-size: 36px;
  font-weight: 700;
  color: #1a315d;
}

/* FAQ section */
.landing-faq-section {
  height: auto;
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #ffffff;
}

.landing-faq-section h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  color: #1a315d;
}

.landing-faq-section .subhead {
  text-align: center;
  font-size: 26px;
  color: #3b4f70;
  max-width: 693px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6rem;
}
/* accordion */
.faq-input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.row {
  display: flex;
}
.row .col {
  flex: 1;
}
.row .col:last-child {
  margin-left: 1em;
}
/* Accordion styles */
.tabs {
  overflow: hidden;
}
.tab {
  width: 100%;
  color: white;
  overflow: hidden;
  margin-top: 20px;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #ffffff;
  border: 2px solid #f1f1f1;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
  color: #3b4f70;
}
.tab-label:hover {
  background: #506397;
  color: #ffffff;
}
.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #3b4f70;
  background: white;
  transition: all 0.35s;
  max-width: 800px;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.tab-close:hover {
  background: #1a252f;
}
.faq-input:checked + .tab-label {
  background: #506397;
  color: #ffffff;
}
.faq-input:checked + .tab-label::after {
  transform: rotate(90deg);
}
.faq-input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}
